@import "@colors@";

* {
  font-family: Iosevka Nerd Font;
  font-size: 10pt;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
}

#workspaces,
#clock,
#battery,
#wireplumber,
#bluetooth.connected,
#custom-power {
  color: @text;
  background: @surface0;

  padding: 0.5rem 1rem;
  border-radius: 1rem;

  margin: 5px 0;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0rem 0.75rem;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: none;
  border: none;
  border-color: transparent;
  padding: 0 0.75rem;
  margin: 0;
}

#window {
  font-size: 12pt;
}

#custom-launcher {
  color: @blue;
  font-size: 12pt;
  padding: 0;
  margin: 0;

  margin-left: 1rem;
  margin-right: 1rem;
}

#bluetooth.connected {
  color: @blue;
}

#wireplumber {
  color: @maroon;
  border-radius: 1rem 0 0 1rem;
  margin-left: 1rem;
}

#battery {
  color: @green;
  border-radius: 0;
}

#clock {
  color: @blue;
  border-radius: 0 1rem 1rem 0;
  margin-right: 1rem;
}

#custom-power {
  color: @rosewater;
  margin-right: 1rem;
  /* border: @rosewater 1px solid; */
}